.post-form-container {
	width: 100%;
	.header-form {
		display: flex;
		align-items: center;
		padding: 7px 10px 3px;
		.user-pic {
			display: flex;
			align-items: center;
			img {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				margin-right: 10px;
			}
		}
		.vanilla-input {
			width: 100%;
			padding: 10px 15px;
			background-color: $log-background;
			border-radius: 40px;
			font-size: 16px;
			font-weight: 400;
			color: $fds-gray-70;
			user-select: none;
			cursor: pointer;
			&:hover {
				filter: brightness(0.95);
			}
		}
	}
	.footer-form {
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: space-around;
		padding: 0 15px 10px;
		.complexe-input {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 7px 3%;
			background-color: #fff;
			color: $fds-gray-70;
			font-size: 15px;
			font-weight: 600;
			border-radius: 7px;
			transition: 300ms;
			cursor: pointer;
			&:hover {
				filter: brightness(0.95);
			}
			img {
				width: 24px;
				height: 24px;
				margin-right: 10px;
			}
			.video-picto {
				filter: invert(39%) sepia(44%) saturate(3859%) hue-rotate(326deg) brightness(97%) contrast(96%);
			}
			.image-picto {
				filter: invert(66%) sepia(18%) saturate(1400%) hue-rotate(82deg) brightness(92%) contrast(85%);
			}
			.mood-picto {
				filter: invert(76%) sepia(99%) saturate(2531%) hue-rotate(338deg) brightness(102%) contrast(94%);
			}
		}
	}
}
